### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
nbactions.xml
/modulo1/proyectos/17_Interfaces/nbproject/private/
/modulo1/proyectos/ProyectoIMC/nbproject/private/
/modulo1/proyectos/ProyectoIMC_Nelly/nbproject/private/