/modulo1/proyectos/EstructurasIterativas/build/
/modulo1/proyectos/E_CalculoIMC/nbproject/private/
/modulo1/proyectos/E_CalculoIMC/build/
/modulo1/proyectos/Interfaces/nbproject/private/
/modulo1/proyectos/Clases/dist/
/modulo1/proyectos/ClaseAbstracta02/nbproject/private/
/modulo1/proyectos/ClaseAbstracta01/nbproject/private/
/modulo1/proyectos/E_CalculoIMCPOO/nbproject/private/
/modulo1/proyectos/E_CalculoIMCPOO/build/
/modulo1/proyectos/GetterSetter/nbproject/private/
/modulo1/proyectos/GetterSetter/build/
/modulo1/proyectos/Paquetes/build/
/modulo1/proyectos/Interfaces/build/
/modulo1/proyectos/Excepciones/build/
/modulo1/proyectos/Excepciones/dist/
/modulo1/proyectos/AnthonyHurtado_TiendaPeliculas/nbproject/private/
/modulo1/proyectos/AnthonyHurtado_TiendaPeliculas/build/
/modulo1/proyectos/ClaseAbstracta01/build/
/modulo1/proyectos/ClaseAbstracta02/build/
/modulo1/proyectos/PaquetesImports/build/
/modulo1/proyectos/PersonaLibreria/nbproject/private/
/modulo1/proyectos/PersonaUsar/nbproject/private/
/modulo1/proyectos/PersonaLibreria/build/
/modulo1/proyectos/PersonaLibreria/dist/
/modulo1/proyectos/PersonaUsar/build/
/modulo1/proyectos/E_PersonaLibreria/nbproject/private/
/modulo1/proyectos/E_PersonaUsar/nbproject/private/
/modulo1/evaluación - grupo1/YajesFuenmayor_TiendaPelicula/nbproject/private/
/modulo1/evaluación - grupo1/MichelleFericelli_TPeliculas/build/
/modulo1/evaluación - grupo1/MichelleFericelli_TPeliculas/nbproject/private/
/modulo1/evaluación - grupo1/MichelleFericelli_TiendaPelicula/nbproject/private/
/modulo1/evaluación - grupo1/jorgevezgapeliculas/build/
/modulo1/evaluación - grupo1/jorgevezgapeliculas/nbproject/private/
/modulo1/evaluación - grupo1/JorgeVezga_TiendaPelicula/nbproject/private/
/modulo1/evaluación - grupo1/JorgeVezga_TiendaPelicula/build/
/modulo1/evaluación - grupo1/tienda_peliculahildemar/build/
/modulo1/evaluación - grupo1/tienda_peliculahildemar/nbproject/private/
/modulo1/evaluación - grupo1/HildemarGutierrez_TiendaPelicula/nbproject/private/
/modulo1/evaluación - grupo1/AndresGordillo_TiendadePelicula/build/
/modulo1/evaluación - grupo1/AndresGordillo_TiendadePelicula/nbproject/private/
/modulo1/evaluación - grupo1/AndresGordillo_TiendaPelicula/nbproject/private/
/modulo1/evaluación - grupo1/EdwardExamen/build/
/modulo1/evaluación - grupo1/EdwardExamen/nbproject/private/
/modulo1/evaluación - grupo1/EdwardLopez_TiendaPelicula/nbproject/private/
/modulo1/evaluación - grupo2/Tiendapeliculas/nbproject/private/
/modulo1/evaluación - grupo2/Tiendapeliculas/build/
/modulo1/evaluación - grupo2/Tiendapeliculas/dist/
/modulo1/evaluación - grupo2/CarlosPalacios_TiendaPelicula/nbproject/private/
/modulo1/evaluación - grupo2/CarlosPalacios_TiendaPelicula/build/
/modulo1/evaluación - grupo2/Tienda/build/
/modulo1/evaluación - grupo2/Tienda/dist/
/modulo1/evaluación - grupo2/Tienda/nbproject/private/
/modulo1/evaluación - grupo2/JoseBautista_TiendaPelicula/nbproject/private/
/modulo1/evaluación - grupo2/TiendaPeliculas/build/
/modulo1/evaluación - grupo2/TiendaPeliculas/dist/
/modulo1/evaluación - grupo2/TiendaPeliculas/nbproject/private/
/modulo1/evaluación - grupo2/JoseGalia_TiendaPeliculaLibreria/nbproject/private/
/modulo1/evaluación - grupo2/JoseGalia_TiendaPelicula/nbproject/private/
/modulo1/evaluación - grupo2/RatzarPerez/build/
/modulo1/evaluación - grupo2/RatzarPerez/dist/
/modulo1/evaluación - grupo2/RatzarPerez/nbproject/private/
/modulo1/evaluación - grupo2/RatzarPerez_TiendaPelicula/nbproject/private/
/modulo1/evaluación - grupo1/JelitzaMena_TiendaPelicula/nbproject/private/
/modulo1/evaluación - grupo1/JelitzaMena_TiendaPelicula/build/
/modulo1/evaluación - grupo1/JoseRomero_TiendaPelicula/nbproject/private/
/modulo1/evaluación - grupo1/JoseRomero_TiendaPelicula/build/
/modulo1/evaluación - grupo2/JesusZerpa_TiendaPelicula/nbproject/private/
/modulo2/proyectos/ConexionBD/build/
/modulo2/proyectos/SwingJFrame/build/
/modulo2/proyectos/SwingNetbeans/build/
/modulo2/proyectos/E_CalculoIMC/nbproject/private/
/modulo2/proyectos/E_IMCCalculate/nbproject/private/
/modulo2/proyectos/E_IMCCalculate/build/
/modulo2/proyectos/E_Internacionalizacion/nbproject/private/
/modulo2/proyectos/E_Internacionalizacion/build/
/modulo2/proyectos/E_Internacionalizacion/dist/
/modulo2/proyectos/E_CajeroAutomatico_Base/nbproject/private/
/modulo2/proyectos/E_ATM/nbproject/private/
/modulo2/proyectos/E_ATM/build/
/modulo1/proyectos/AnthonyHurtado_TiendaPeliculas/dist/
/modulo2/evaluación - grupo1/ATM_YajesFuenmayor/nbproject/private/
/modulo2/evaluación - grupo1/JoseRomero_CajeroAutomatico/build/
/modulo2/evaluación - grupo1/JoseRomero_CajeroAutomatico/nbproject/private/
/modulo2/evaluación - grupo1/Jelitza_Mena_CajeroAutomatico/build/
/modulo2/evaluación - grupo1/Jelitza_Mena_CajeroAutomatico/nbproject/private/
/modulo2/evaluación - grupo1/hildemargutierrez_ATM/build/
/modulo2/evaluación - grupo1/hildemargutierrez_ATM/nbproject/private/
/modulo2/evaluación - grupo1/EjerCajero/build/
/modulo2/evaluación - grupo1/EjerCajero/nbproject/private/
/modulo2/evaluación - grupo1/ATM_HildemarGutierrez/nbproject/private/
/modulo2/evaluación - grupo1/ATM_JelitzaMena/nbproject/private/
/modulo2/evaluación - grupo1/ATM_JoseRomero/nbproject/private/
/modulo2/evaluación - grupo1/ATM_JorgeVezga/nbproject/private/
/modulo2/evaluación - grupo1/ATM_EdwardLopez/nbproject/private/
/modulo2/evaluación - grupo1/CajeroAutomatico_MichelleFericelli/build/
/modulo2/evaluación - grupo1/CajeroAutomatico_MichelleFericelli/nbproject/private/
/modulo2/evaluación - grupo1/AndresGordillo_ATM/build/
/modulo2/evaluación - grupo1/AndresGordillo_ATM/nbproject/private/
/modulo2/evaluación - grupo1/ATM_AndresGordillo/nbproject/private/
/modulo2/evaluación - grupo1/ATM_MichelleFericelli/nbproject/private/
/modulo2/evaluación - grupo1/ATM_JorgeVezga/build/
/modulo2/evaluación - grupo1/ATM_HildemarGutierrez/build/
/modulo2/evaluación - grupo1/ATM_JoseRomero/build/
/modulo2/evaluación - grupo1/ATM_JelitzaMena/build/
/modulo2/evaluación - grupo1/ATM_MichelleFericelli/build/
/modulo2/evaluación - grupo1/ATM_YajesFuenmayor/build/
/modulo2/evaluación - grupo1/ATM_AndresGordillo/build/
/modulo2/evaluación - grupo1/ATM_AndresGordillo/dist/
/modulo2/evaluación - grupo1/ATM_EdwardLopez/build/
/modulo3/proyectos/E_ComponenteMensaje/nbproject/private/
/modulo3/proyectos/MiPrimerProyectoJSF/nbproject/private/
/modulo3/proyectos/ValidadorDeDatos/nbproject/private/
/modulo3/proyectos/ConversionDeDatos/nbproject/private/
/modulo3/proyectos/PlantillasJSF/nbproject/private/
/modulo3/proyectos/E_Bank/nbproject/private/
/modulo3/proyectos/ReglasDeNavegacion/nbproject/private/
/modulo2/evaluación - grupo2/ATM_JoseGalia/nbproject/private/
/modulo2/evaluación - grupo2/E_ATM/nbproject/private/
/modulo2/evaluación - grupo2/E_ATM/build/
/modulo2/evaluación - grupo2/ATM_AndersonHerrera/nbproject/private/
/modulo2/evaluación - grupo2/CajeroAutomatico/build/
/modulo2/evaluación - grupo2/CajeroAutomatico/nbproject/private/
/modulo2/evaluación - grupo2/ATM_AllanBerrios/nbproject/private/
/modulo2/evaluación - grupo2/CAJEROATM3/build/
/modulo2/evaluación - grupo2/CAJEROATM3/nbproject/private/
/modulo2/evaluación - grupo2/ATM_CarlosPalacios/nbproject/private/
/modulo2/evaluación - grupo2/BancoJ3sus_ATM/build/
/modulo2/evaluación - grupo2/BancoJ3sus_ATM/dist/
/modulo2/evaluación - grupo2/BancoJ3sus_ATM/nbproject/private/
/modulo2/evaluación - grupo2/ATM_JesusZerpa/nbproject/private/
/modulo2/evaluación - grupo2/CajeroAutomaticoJMBR/build/
/modulo2/evaluación - grupo2/CajeroAutomaticoJMBR/nbproject/private/
/modulo2/evaluación - grupo2/ATM_JoseBautista/nbproject/private/
/modulo2/evaluación - grupo2/E_ATM_JoseEspinoza/build/
/modulo2/evaluación - grupo2/E_ATM_JoseEspinoza/nbproject/private/
/modulo2/evaluación - grupo2/ATM_JoseEspinoza/nbproject/private/
/modulo2/evaluación - grupo2/ATM_AllanBerrios/build/
/modulo2/evaluación - grupo2/ATM_AndersonHerrera/build/
/modulo2/evaluación - grupo2/ATM_CarlosPalacios/build/
/modulo2/evaluación - grupo2/ATM_JesusZerpa/build/
/modulo2/evaluación - grupo2/ATM_JoseBautista/build/
/modulo2/evaluación - grupo2/ATM_JoseEspinoza/build/
/modulo2/evaluación - grupo2/ATM_JoseGalia/build/
/modulo3/proyectos/E_ComponenteMensaje/build/
/modulo2/proyectos/WebApplication1/nbproject/private/
/modulo3/proyectos/Plantillas/dist/
/modulo2/proyectos/E_Calculadora/dist/
/modulo2/proyectos/E_IMCCalculate/dist/
/modulo3/proyectos/UsoDeAjax/dist/
/modulo3/proyectos/ComponentesCompuestos/dist/
/modulo3/proyectos/SoporteHtml5/dist/
/modulo2/proyectos/E_Bank/nbproject/private/
/modulo2/proyectos/E_Bank/build/
/modulo2/proyectos/E_Bank/dist/
/modulo3/evaluación - grupo1/Banco_AndresG_YajesF/nbproject/private/
/modulo3/evaluación - grupo1/Banco_EdwardL_MichelleF/nbproject/private/
/modulo3/evaluación - grupo1/Banco_JoseRomero/nbproject/private/
/modulo3/evaluación - grupo1/Banco_JelitzaMena/nbproject/private/
/modulo3/evaluación - grupo1/Banco_JoseRomero/build/
/modulo3/evaluación - grupo1/Banco_JelitzaMena/build/
/modulo3/evaluación - grupo1/Banco_EdwardL_MichelleF/build/
/modulo3/evaluación - grupo1/Banco_AndresG_YajesF/build/
/modulo2/evaluación - grupo2/RatzarProyectoModulo2/nbproject/private/
/modulo2/evaluación - grupo2/ATM_RatzarPerez/nbproject/private/
/modulo2/evaluación - grupo2/ATM_RatzarPerez/build/
/modulo3/evaluación - grupo1/Banco_JorgeV_HildermarG/nbproject/private/
/modulo3/evaluación - grupo1/Banco_JorgeV_HildermarG/build/
/modulo3/proyectos/Prueba/nbproject/private/
/modulo3/proyectos/E_ComponenteMensaje/dist/
/modulo3/proyectos/PrimeFaces/dist/
/modulo3/evaluación - grupo2/Banco_AllanB_JesusZ/nbproject/private/
/modulo3/evaluación - grupo2/Banco_JesusE_AndersonH/nbproject/private/
/modulo3/evaluación - grupo2/Proyecto JBMR/Banco_JoseB_JoseG_CarlosP/nbproject/private/
/modulo3/evaluación - grupo2/Banco_AllanB_JesusZ/build/
/modulo3/evaluación - grupo2/Banco_JoseE_AndersonH/nbproject/private/
/modulo3/evaluación - grupo2/Banco_JoseE_AndersonH/build/
/modulo3/evaluación - grupo2/Proyecto JBMR/Banco_JoseB_JoseG_CarlosP/build/